<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CareersFralle</title>
    <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CareersFralle.styles.css" asp-append-version="true" />
</head>
<body class="p64">

    @{
        var activeController = ViewContext.RouteData.Values["Controller"]?.ToString();
    }

    <header class="s-topbar ps-fixed t0 l0 js-top-bar">
        <div class="s-topbar--container jc-center">

            <nav aria-label="Site navigation">
                <ul class="s-navigation s-navigation__scroll">
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="s-navigation--item @(activeController == "Home" ? "is-selected" : "")">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Posts" asp-action="Index" class="s-navigation--item @(activeController == "Posts" ? "is-selected" : "")">Posts</a>
                    </li>
                </ul>
            </nav>
            <form id="search" role="search" action="/search" class="s-topbar--searchbar js-searchbar search-channel-context wmx4" autocomplete="off">
                <div class="s-topbar--searchbar--input-group">
                    <input name="q" type="text" role="combobox" placeholder="Search…" value="" autocomplete="off" maxlength="240" class="s-input s-input__search js-search-field js-search-autocomplete" aria-label="Search" aria-controls="top-search" data-controller="s-popover" data-action="focus->s-popover#show" data-s-popover-placement="bottom-start" aria-expanded="false">
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="m18 16.5-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0Z"></path></svg>
                </div>

                <input name="searchOn" value="3" type="hidden" class="js-search-on">
            </form>
            <button class="s-btn s-btn__filled" type="button">Generate 20 posts</button>

        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3 wmx10 mx-auto">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
