@model IEnumerable<CareersFralle.Models.Post>

<div class="wmx5 mx-auto">
    <div>
        <a asp-action="Create">Create New</a>
    </div>
    @foreach (var post in Model)
    {
        <partial name="_Post" model="post" />
    }
</div>