@model IEnumerable<CareersFralle.Models.Post>
@{
    ViewData["Title"] = "Posts";
    var totalCount = Model.Count();
    var top20 = Model.Take(20);
}

<div class="wmx5 mx-auto">
    <div>
        <a asp-action="Create">Create New</a>
    </div>
    <hr />
    @if (Model.Count() == 0)
    {
        <div>No posts</div>
    }
    else
    {

        <div>Showing @top20.Count() of @totalCount</div>
    }
    @foreach (var post in top20)
    {
        <partial name="_Post" model="post" />
    }
</div>